/* #region  Root */
--root {
  --main-bg-color: red;
  --main-font-family: "Domine", serif;
  --main-font-weight: 600;
  --main-button-color: rgb(75, 70, 70);
}
/* #endregion Root*/

/* #region Universal  */
* {
  margin: 0;
  padding: 0;
  border: 0;
  background: white;
  box-sizing: border-box;
  font-family: "Domine", serif;
}
/* #endregion Universal */
/* #region Navigation Bar  */

.nav-wrapper {
  width: 100%;
  height: 55px;
  text-align: center;
  margin-top: 10px;
}

.nav-wrapper-left {
  float: left;
  margin-left: 20px;
}

.nav-wrapper-left-space {
  margin-right: 20px;
}

.nyt-header {
  height: 50px;
}

.nav-wrapper-right {
  float: right;
  margin-right: 50px;
}
.nav-top-btns {
  text-align: left;
  background: rgb(132, 132, 177);
  border-radius: 5px;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  color: white;
  font-size: 16px;
  font-weight: 600;
  font: 0.6em sans-serif;
}

/* #endregion Navigation Bar */

/* #region Advertisement  */

.advertisement {
  line-height: 18;
  box-sizing: border-box;
  background: grey;
  width: 100%;
  height: 293px;
  text-align: center;
}

/* #endregion Advertisement */

figure {
  display: table;
}
figcaption {
  display: table-caption;
  caption-side: bottom;
}

/* #region  Main Picture */
h2.main-pic-header {
  font-family: "Arbutus Slab", serif;
  z-index: auto;
  box-sizing: content-box;
  display: block;
  line-height: 48px;
  max-width: 383px;
  font-size: 30px; /*Lowered pixel size as unable to get NYT font*/
  font-weight: 700;
  font-style: italic;
  margin-right: 619px;
  margin-left: 403px;
  /*margin-right:auto;*/
  /*margin-left:auto;*/
}

.main-pic--img {
  /*Position reference-static, ancestor main-pic*/
  width: 1200px;
  height: 675px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.main-pic--image--cap {
  display: block;
  width: 1200px;
  font-family: "Tinos", serif;
  margin-right: auto;
  margin-left: auto;
  font-size: 15px;
  text-align: left;
  line-height: 20px;
  color: #666666;
  margin-top: 7px;
}

.main-pic :last-child {
  width: 1200px;
  font-family: "Tinos", serif;
  margin-right: auto;
  margin-left: auto;
  font-size: 15px;
  text-align: left;
  line-height: 20px;
  color: #666666;
}

.main-pic--image--cap > span {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 13px;
  color: #888888;
  line-height: 18px;
  letter-spacing: 0.13px;
}
/* #endregion Main Picture */

/*MAIN CONTENT SECTION*/
/* #region  Main Content */

.main-content {
  box-sizing: border-box;
  max-width: 40%; /*Position based on element being static position*/
  min-width: 600x;
  margin-left: auto;
  margin-right: auto;
  line-height: 30px;
  font-size: 19.7px;
}

.main-content p {
  box-sizing: border-box;
  line-height: 30px;
  font-size: 20px;
  font: inherit;
  color: #333333;
}

.main-content--author {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 15px;
  text-decoration: underline;
  font-weight: 700;
  margin-top: 50px;
  margin-bottom: 10px;
  line-height: 16px;
  color: #333333;
}

/* #region  Main Content Social Media Icons */
.main-content--icons-unordered {
  list-style: none;
}
.main-content--icons-unordered :first-child {
  float: left;
}

.main-content--icons-unordered-second {
  list-style: none;
  height: 80px;
}

.text-baloon {
  position: relative;
  opacity: 0.5;
}
.baloon-numbers {
  position: absolute;
  z-index: 2;
  right: 500px;
  opacity: 0.5;
  top: 1250px;
  font-size: 4px;
}

.fab.fa-twitter,
.fab.fa-facebook-f,
.fas.fa-envelope,
.fas.fa-share {
  background-color: green;
  height: 30px;
  width: 30px;
  text-align: center;
  border-radius: 50%;
  color: black;
}

.dot {
  float: right;
  opacity: 0.2;
  margin-right: 20px;
}
.nav-float-position {
  float: right;
  opacity: 0.2;
  display: block;
  margin-right: 20px;
}

.number-comment {
  position: absolute;
  right: 515px;
  font-size: 12px;
}

/* #endregion Main Content Social Media Icons */

/* #region  Main Content Start Para */
.main-content-startpara {
  clear: both;
}
/* #endregion Main Content Start Para */

.main-content-minicaption-wrapper {
  border-bottom: 1px dotted green;
  border-top: 1px solid red;
  padding-top: 15px;
  padding-bottom: 35px;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
}

.main-content-minicaption-one {
  /*text-decoration: overline;*/
  /*border-top: 1px solid red;*/
  /*outline-color: seagreen;*/
  /*outline-style: solid;*/
  font-size: 12px;
  color: black;
  text-align: center;
}

.main-content-minicaption-two {
  /*text-decoration: underline;*/
  font-size: 12px;
  color: #326891;
  text-align: center;
}

h4.main-content-subheading {
  font-size: 20px;
  font-weight: 700;
  text-align: left;
  font-family: inherit;
  line-height: 30px;
  color: #333333;
}

/* #endregion Main Content*/

/* #region  Aside Mini Column-Editor Picks */

.aside-editor {
  position: relative;
}
.main-content-editor-picks {
  position: absolute;
  height: 315px;
  width: 218px;
  left: 1400px;
  top: -270px;
}

.main-content-editor-images-wrap {
  position: absolute;
}
.aside-float-itemwrap {
  height: 80px;
  width: 218px;
  margin-bottom: 10px;
}

.main-content-editor--picks h3 {
  font-size: 14px;
  letter-spacing: 0.28px;
  margin-bottom: 15px;
  padding-bottom: 12px;
}
.main-content-1 {
  display: block;
  box-sizing: border-box;
  max-width: 60%; /*Position based on element being static position*/
  min-width: 600px;
  margin-left: auto;
  margin-right: auto;
  line-height: 30px;
  font-size: 21px;
  margin: 45px auto;
}
.main-content-1 p {
  color: rgb(107, 106, 106);
}

.main-content-editor-imgone {
  max-width: 75px;
  max-height: 75px;
}

.main-content-editor-imgtwo {
  max-width: 75px;
  max-height: 75px;
}
.main-content-editor-imgthree {
  max-width: 75px;
  max-height: 75px;
}

.aside-float-itemwrap {
  position: relative;
  font-size: 14px;
  font-weight: 500;
}

.aside-img-text {
  position: absolute;
  bottom: 2px;
  right: 3px;
  display: inline-block;
  max-width: 140px;
  height: inherit;
  border: 1px solid blue;
  margin-top: 50px;
}
/* #endregion */

/* #region  Inflation Image */

.main-content-inflation {
  position: relative;
  font-size: 20px;
  font-weight: 700;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.images-astronomers-container-1 {
  display: flex;
  justify-content: center;
}
.p-inside-main-content-1 {
  /* width: 300px; */
  display: flex;
  align-items: center;
}
.p-inside-main-content-1 p {
  display: inline-flex;
  text-align: center;
}

.comic-map {
  height: 576px;
  width: 945px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.comic-image-wrapper {
  width: 100%;
  position: absolute;
  top: 100px;
}
.rowone-blurb,
.rowtwo-blurb {
  width: 29%;
  float: right;
  font-size: 13px;
  margin: 10px;
  height: 100px;
}

/* #endregion Inflation Image */

.after {
  clear: both;
}

iframe {
  height: 358px;
  width: 600px;
}

.iframe-caption {
  font-size: 15px;
  color: grey;
}

/*SECOND MAIN PARAGRAPH*- The left image grids*/

.grid-aside-wrapper {
  display: table;
  width: 100%;
  height: 80vh;
}

/*SECOND MAIN PARAGRAPH-The right text grid*/

.grid-images-wrapper {
  display: table-cell;
  width: 70%;
}

/*SECOND MAIN PARAGRAPH-The right text grid*/
.grid-list-wrapper {
  display: table-cell;
  padding: 1.5em;
  width: 30%;
}

/*FlOATED THE ENTIRE IMAGE AND TEXT WRAPPER*/
.image-wrapper-tableitem {
  float: left;

  /*Clear not applied as each table item set in the container*/
}

/*Set the three rows as a container for the images level of images and text*/
.images-grid-tableformatfirst {
  width: 1096px;
  height: 310px;
  margin-left: 40px;
  /*clear:both;
  Clear not needed as the section block is in the document flow as line items */
}

/*Set the entire width of each table item third row as a container for the 3rd level of images and text*/
.image-wrapper-tableitem {
  width: 270px; /*Notice image keeps its aspet ratoio*/
  margin: 10px;
}

/*Set the with of the image*/
.cosmos-single-image {
  width: 270px;
}

.grid-image-textwrapper {
  margin-top: 30px;
}

/*ASIDE SECOND MAIN paragrphn- grig list items attributes*/
.mostpopular-listwrap {
  list-style: none;
}

.grid-list-textitem {
  display: block;
  padding: 20px;
  border-bottom: 1px solid red;
  margin-top: 20px;
}
.grid-top-margin {
  border-top: 2px solid red;
}

/*FINAL SECTION LIST ITEMS */

.footer-list-items-wrap {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.footer-nyt-img-wrap-text {
  font-family: sans-serif;
  font-size: 8px;
  color: blue;
  float: left;
}

/*INDIC=VIDUAL FOOTER COLUMS */

.footer-list-items-wrap {
  position: relative;
  width: 100%;
  height: auto;

  background-color: red;
}

.footer-list-column-one,
.footer-list-column-two,
.footer-list-column-three,
.footer-list-column-four,
.footer-list-column-five,
.footer-list-column-six {
  width: 25%;
  display: block;
  float: left;
  list-style: none;
  margin: 10px;
}

.footer-list-item {
  font-family: sans-serif;
  font-weight: 700;
  color: grey;
}

.end-footer {
  display: block;
  clear: both;
  width: 100%;
  text-align: center;
}

.end-footer li {
  display: inline;
}
.main-wrapper-theory{
  width: 1050px;
  margin-top: 50px;
}
.p-wrapper div{
  margin: 15px 0px 10px 25px;
  width: 20%;
  float: left;
}
.main-wrapper-theory{
  margin-left: 23%;
}
.main-pic-header-1{
  display: inline;
  margin-left: 30%;
  font-size:30px ;
  font-family: nyt-cheltenham, georgia, "times new roman", times, serif;
}
.nav3{
  opacity: 0.8;
  margin-top: 20px;
  line-height: 1.5;
  width:630px;
  margin-left: 30%;
  font-size: 13px;
}